@using System.Web.UI.WebControls
@model Agenda.Aplicacao.ViewModels.ContatoEnderecoTelefoneEmailViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Novo Contato</h2>
<hr/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            @Html.Partial("_DadosCadastrais")
        </div>

        <div>
            @Html.Partial("_Enderecos")
        </div>

        <div>
            @Html.Partial("_Telefones")
        </div>

        <div>
            @Html.Partial("_Emails")
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.ActionLink("Voltar", "Index", null, new{@class="btn btn-primary btn-sm"})
            </div>
            
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Concluir" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
